@tailwind base;
@tailwind components;
@tailwind utilities;

@import '~react-image-gallery/styles/css/image-gallery.css';

.angle {
  clip-path: polygon(6% 50%, 96% 8%, 85% 96%, 82% 25%);
  background-color: #200000;
  width: 300px;
  height: 300px;
}
